#blogc .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}

#blogc .contenedor img{
    width: 250px;
    height: 250px;
    border: solid 3px black;
}

#blogc h4{
    text-align: center;
}

#blogc .contenedor article{
    margin: 45px;
}