*{    margin: 0px;
    padding: 0px;
}
#header .contenedor{
    background-color:#674EA7;
    height: 150px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

}

.otitulo{

    text-align: center;
    font-size: 50px;
    margin-top: 45px;
    margin-bottom: -90px;
    
    
    }

.cuerpo{

    background-color: #B4A7D6;
    margin-bottom: 100px;
    }

#header .logo{
    display: inline-block;
    margin-bottom: -25px;
    padding: 0px;

    }

#header .registro{
display: flex;
float: right;
margin-top: -30px;
margin-right: 10px;
flex-wrap: wrap;

}
 #header .registro a{
    text-decoration: none;
    border: solid 1px black;
    color:black;
    background-color: rgb(142, 49, 179);
    text-align: center;
    padding: 3px;
    border-radius: 10px; 
    }

#header .menu{
    margin-left: 80px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;

}    


#header .menu a{

    text-decoration: none;
    border: solid 1px black;
    padding: 1px;
    margin: 2px;
    color: black;
    background-color: rgb(142, 49, 179);
    text-align: center;
    width: 80px;
    border-radius: 10px; 
    }


#header .categoria{

    display: flex;
    margin-top: 20px;

}

#header .categoria a{
    text-decoration: none;
    border: solid 1px black;
    color: black;
    background-color: rgb(142, 49, 179);
    text-align: center;
    width: 100px;
    margin-right: 1px;
    margin-left: 0px;
    padding: 2px;
    border-radius: 10px; 
}

#header .busqueda{
    text-align: center;
    margin-top: 35px;
}

#header .registrar a{
    text-decoration: none;
    border: solid 1px black;
    color: black;
    background-color: rgb(142, 49, 179);
    text-align: center;
    border-radius: 10px; 
    padding: 4px;


}

 .registrar{
    text-align: center;
    margin-top:20px;




#tabla-index .tabla {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    caption-side: top;
    border-collapse: collapse;
}

#tabla-index th{
    background-color: black;
    color: white;
}


#tabla-index td,th{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px black;
}

#tabla-index caption{
    padding-bottom: 10px;
    font-size: 20px;

}