#tra .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#tra .contenedor img{
    width: 150px;
    height: 150px;
    border: solid 3px black;
    margin-right: 150px;
    margin-top: 40px;
    margin-left: 120px;
}

#tra h4{
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;

}

.titulo {
    text-align: center;
    font-size: 50px;
}

.parrafo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}