


.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #8E7CC3;
    background-size: cover;
    background-attachment: fixed;


}


*{
    box-sizing: border-box;
}

.contenedores{
    margin-bottom: 200px;


}

.formularios{
    
    background: rgb(179, 155, 201);
    padding: 5px;
}



input[type="text"],
input[type="password"]{
     font-size: 20px;
     width: 485px;
     padding: 10px;

}

.input-contenedores{

    margin-bottom: 15px;
    margin-right: 250px;
    margin-left: 250px;

    display: block;

}


.button{
    border: none;
    width: 50%;
    color: white;
    font-size: 20px;
    background: rgb(252, 16, 177);
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 247px;

    
}

.button:hover{
    background: violet;

}

p{
    text-align: center;
}


@media(min-width:768px)

{
    .formularios{
        margin:auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }


}

#cont .contener{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border:1px solid #aaa;
}