#tra  img{
    float: left;
    width: 250px;
    height: 150px;
    margin: 10px;
    flex-wrap: wrap;
}
.titulo {
    text-align: center;
    font-size: 35px; 
    
    padding-top: 2%;   
}
.noticia {
font-size: 15px;
flex-wrap: wrap;
flex: 1;

}
.datos{
    text-align: right;
    font-size: 15px;
>>>>>>> master
}
#tra {
    padding-top: 5%;
}