*{    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#tra  img{
    float: left;
    width: 250px;
    height: 150px;
    margin: 10px;

    border-radius: 10px;
}
.titulo {
    text-align: center;
    font-size: 35px; 
    
    padding-top: 2%;   
}
.noticia {
font-size: 19px;
flex-wrap: wrap;

}
.datos{
    text-align: right;
    font-size: 15px;
}
#tra {
    padding-top: 60px;
    margin: 0;
}
a:link{
	color: rgb(0, 0, 0);

}
a:visited{
	color: rgb(0, 0, 0);
}