#tra1 .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#tra1 .contenedor img{
    width: 150px;
    height: 150px;
    border: solid 3px black;
    margin-right: 150px;
    margin-top: 40px;
    margin-left: 120px;
}

#tra1 h4{
    text-align: center;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;

}

.titulo {
    margin-top: 10px;
    text-align: center;
    font-size: 40px;
}

.parrafo{
    font-size: 15px;
    text-align: justify;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: -250px;
    margin-bottom: 300px;
    display: flex;
    flex-wrap: wrap;
} 

.img{
    text-align: left;
    margin-top: 100px;
    margin-left: 80px;
    display: flex;

}

